/*General Styles*/
*:focus{
    box-shadow: none !important;
    border: 1px solid #000c80 !important;
    border-radius: 5px !important;
    outline: none !important;
}

a:hover{
    color: #c914c9 !important;
    text-decoration: none !important;
}

a:focus{
    background: none !important;
    color: #c914c9 !important;
}

a.active{
    color: #c914c9 !important;
}

div, button, select{
    border-radius: 5px !important;
}

h1, h2, h3, h4, h5, p{
    color: #000c80 !important;
}

h6, button, input.btn{
    color: #c914c9 !important;
}


/*Non-Logged In User Front Page Styles(Login Link)*/

span.login, #id_cancel{
    color: #000c80 !important;
}

span.login > a{
    font-weight: 700;
}

span.login > a:focus{
    background: none !important;
    color: #c914c9;
}


/*Burger Menu Button && Go To Top Link Styles*/
button.nav-link, #goto-top-link > a{
    background-image: linear-gradient(#000c80, #fff) !important;
    color: #c914c9;
    border-radius: 5px;
    transition: all 0.5s ease-in-out !important;
}

button.nav-link:hover, #goto-top-link > a:hover{
    background-image: linear-gradient(#fff, #000c80) !important;
    color: #c914c9 !important;
}

button.nav-link:focus, #goto-top-link > a:focus{
    color: #c914c9 !important;
}


/*Login Page Styles*/
.login-logo #logo-image{
    width: 300px !important;
    height: 300px !important;
}

input{
    border-color: #000c80 !important;
    border-radius: 5px !important;
    color: #000c80 !important;
}

div.mt-3{
    color: #000c80 !important;
    font-size: 13px !important;
}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginbtn, .singlebutton > form > button{
    background-color: #fff;
    color: #c914c9;
    border: 1px solid #000c80;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px !important;
    font-weight: 600;
}

#loginbtn:hover, .singlebutton > form > button:hover{
    background-color: #000c80;
    color: #c914c9;
}

.d-flex button{
    display: none;
}

/*Logged In User Buttons(some) Styles*/
button.dropdown-toggle{
    color: #000c80 !important;
    background-color: #fff !important;
    border-color: #000c80 !important;
    border-radius: 5px;
}

button.dropdown-toggle:hover{
    color: #fff !important;
    background-color: #000c80 !important;
}

button.float-sm-right{
    background-image: linear-gradient(#fff, #000c80) !important;
    color: #c914c9 !important;
    font-weight: 700 !important;
}

button.float-sm-right:hover{
    color: #000c80 !important;
}

/*Hide logged in user minilogo image beside bugger menu button*/
span.logo > img{
    display: none;
}


/*Left Side Navigation Bar Styles*/
nav.list-group > ul{ 
    border: 2px solid #000c80 !important;
    border-radius: 5px !important;
}

.list-group-item{
    color: #000c80 !important;
}

.list-group-item.active{
    color: #fff !important;
}


/*Calendar Table Styles*/
th.header, td.day{
    color: #000c80 !important;
}

td.day:hover{
    cursor: pointer !important;
    box-shadow: 0px 0px 5px #000c80 !important;
    border-radius: 5px;
}


/*Font Awesome Styles*/
.fa-bell, .fa-comment, .fa-question-circle, .fa-file-o, .fa-folder-o, .fa-th, .fa-list, .fa-folder, .fp-path-folder, .fa-download, .fa-upload{
    color: #000c80 !important;
}

.fa-bell:hover, .fa-comment:hover, .fa-question-circle:hover, .fa-file-o:hover, .fa-folder-o:hover, .fa-th:hover, .fa-list:hover, .fa-folder:hover, .fa-download:hover, .fa-upload:hover{
    color: #c914c9 !important;
}


/*Footer Styles*/
#page-footer{
    display: none;
}

.sitelink img, .logininfo, .tool_dataprivacy{
    display: none;
}